.score-container {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-top: 0px;
    padding: 20px;
    background-color: #27155e;
    color: #fff;
  }

  .score {
    width: 200px;
    background-color: #fff;
    margin-bottom: 20px;
  }
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  height: 200px;
}
.player-hand,
.computer-hand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  position: relative;
}
.mid-col {
  color: #fff;
  max-width: 400px;
}
.timer {
  color: #fff;
  font-size: 200px;
}
.shaking-hands {
  animation: playercshakeanimation 0.8s ease-in-out infinite;
}
.computer-shaking-hands {
  animation: computershakeanimation 0.8s ease-in-out infinite;
}

@keyframes playercshakeanimation {
  0%,
  100% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(80deg);
  }
}
@keyframes computershakeanimation {
  0%,
  100% {
    transform: scaleY(-1) rotate(-100deg);
  }
  50% {
    transform: scaleY(-1) rotate(-80deg);
  }
}
.winner {
  animation: winneranimation 2s ease-in-out;
}
@keyframes winneranimation {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(20) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
